/*testing pertama*/
body{
  background-image: url(img/bg1.png);
  /*background-repeat: no-repeat;*/
  font-family: 'Dancing Script', cursive;
  margin: 0%;
  color: rgb(17, 0, 255);
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  grid-template-areas: 
  "header"
  "body"
  "footer";
}

a{
  text-decoration: none;
}

header{
  background: white;
  background-color: rgba(255, 255, 255, 0.75);
  display: grid;
  grid-template-columns: 10% auto;
  /*position: fixed;*/
  /*float: top; */
  position: sticky;
  top: 0%;
  width: 100%;;
  border-bottom: 2px solid blue;
  z-index: 10;
  grid-area: header;
}
img{
  padding: 10px 10px;
  justify-self: center;
}
nav li{
  display: inline-block;
  /*text-align: right; */
  padding-right: 1rem;
  padding-bottom: 5px;
  font-family: 'Courgette', cursive;
}
nav{
  justify-self: right;
}
.container{
  /*padding: 3em 1em; */
  display: grid;
  grid-template-columns: 60% auto;
  text-align: center;
  top: 35px;
}
/*.container {
  position: relative;
} */
footer ul {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto auto;
  /*text-justify: auto;*/
}
header{
  grid-area: header;
}
.container{
  grid-area: body;
}
footer{
  grid-area: footer;
}

ol{
  display: inline-block;
  padding-left: 1.5em;
}
/*footer{
  padding: 3em 1em;
}*/
#logo{
  justify-self: left;
}
.isikonten #konten {
  padding: 2em;
}
#konten span{
  display: block;
 /* font-size: 1.4em; */
  margin-bottom: 1em;
  padding-left: 1em;
}
/*#list {
  font-size: 1.4em;
}
#content{
  padding: 3em 1em; 
}*/
@media only screen and (max-width: 500px) {
  body {
        grid-template-areas: 
        "header"
        "footer"
        "body";
  }
  footer ul, .container {
      grid-template-columns: auto;
      grid-template-rows: auto;
  }
  .container {
      text-align:center;
  }
}